@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

#visual{background-image: url(../img/news/news.jpg)}

.sub-tit:before {content: ""; display: inline-block; width: 21px;height: 16px; margin: 0 15px 5px 0;
    background: url(../img/sub1-icon.png) no-repeat 0 0
}